@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFFFFF;          
}
body{
    background-color:#000;
    font-family: "Space Grotesk";
    
}
.container{
    max-width:1110px;
    margin: 0 auto;
}
.btn{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.28571px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #4ee1a0;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    &.btn:hover{
        cursor: pointer;
        color: #4EE1A0;
    } 
}

// Header section
.header-main{
    padding:40px 0 127px 0;
    .container{
        .header-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .header-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: -0.444444px;
            color: #FFFFFF;
        }
        .header-social{
            display: flex;
            column-gap: 32px;
            
        }
        .header-social{
            a{
                font-size:25px
            }
        }
        .header-social{
            a:hover{
                i{
                    color:#4EE1A0;
                }
            }
        }
    }
}
// /Header section

// Main section
.main{
    .main-content{
        display: flex;
        justify-content:space-between;
        background-image:url(../img/patterns/circle-right.png) , url(../img/icons/oval.png);
        background-repeat:no-repeat no-repeat;
        background-position: top left, 600px center;
        background-size: auto;
        margin-bottom: -119px;
        .main-content__left{
            height: 500px;
            h6{
                max-width: 709px;
                font-weight: 700;
                font-size: 88px;
                line-height: 88px;
                letter-spacing: -2.5px;
                color: #FFFFFF;
                margin-bottom: 43px;
                span{
                    text-decoration: underline;
                    text-decoration-color: #4ee1a0;
                }
            }
            p{
                width: 445px;
                height: 84px;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #D9D9D9;
                margin-bottom: 66px;
            }
           
        }

        .main-content__right{
            z-index: -1;
            transform: translate(0%, -28.5%);
            img{
                width: 445px;
                height: 720px;
            }
        }       
    }
    hr{
        width:100%;
        margin-bottom: 72px;
    }

    //Experinces section 
    .experiences{
        background-image: url(../img/patterns/circle-left.png);
        background-repeat:no-repeat;
        background-position: bottom right;
        padding-bottom: 140px;

        .experiences-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 60px;
            .experience-content__item{
                display: block;
                width: 345px;
                h6{
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 56px;
                    letter-spacing: -1.5px;
                    color: #FFFFFF;
                    padding-top: 14px;
                    text-transform: capitalize;
                }
                p{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    color: #D9D9D9;
                }
            }

        }
    }
    // /Experinces section

    // Projects section
    .projects{
        .projects-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 80px;
            .projects-header__title{
                h4{
                    font-weight: 700;   
                    font-size: 88px;
                    line-height: 88px;
                    letter-spacing: -2.5px;
                    color: #FFFFFF;
                    text-transform: capitalize;
                    }
                }
           // .projects-header__contact{
            //    transform: translate(250% , 0);
            //}
        }

        .projects-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 68px;
            padding-bottom: 139px;
            .projects-card{
                .projects-card__item{
                    .projects-card__item__img{
                        width: 545px;
                        height: 400px;
                        background-size:100%;
                    }
                }
            }
                    .projects-card__img__bcg__text{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items:center;
                        justify-content:center;
                        flex-direction: column;
                        row-gap: 50px;
                        background-color: rgba(0, 0, 0, 0.6);
                        opacity: 0;
                        visibility: hidden;
                        transform: all 0.5s ease;
                    }
                    .projects-card__item__img:hover{
                        .projects-card__img__bcg__text{
                            opacity: 1;
                            visibility: visible;
                        }
                    }   
                }
                .projects-card__text{
                    h6{
                        font-weight: 700;
                        font-size: 24px;
                        text-transform: uppercase;
                        padding:20px 0 7px 0; 
                    }
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        text-transform: uppercase;
                        color:#d9d9d9;
                        span{
                            padding-left: 20px;
                            padding-right: 20px;
                            
                            }
                        
                        }
                    }
                
            }
        }
    // /Projects section
 
    // /Main section

    //Contancts section
    .contacts{
        background-color:#242424;
        background-image: url(../img/patterns/circle-right.png);
        background-repeat:no-repeat;
        background-position: 28 % 50%;
        //padding-top: 84px;
        .contacts-main{
            display: flex;
            justify-content: space-between;
            .contacts-info{
                width: 445px;
                height: 490px;
                
                    h4{
                        font-weight: 700;
                        font-size: 88px;
                        text-transform: capitalize;
                        letter-spacing: -2.5px;
                        color:#fff;
                        padding-bottom: 36px;
                    }   
                    p{
                        width: 445px;
                        height: 80px;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                    }
            }
            .contacts-input{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items:center;
                justify-content: center;
                row-gap: 100px;
                width: 445px;
                height: 500px;
                input {
                    padding: 16px 10px;
                    width: 445px;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    border-bottom: 1px solid #fff;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: -0.222222px;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.5;
                    text-transform: uppercase;
                &.email{
                    padding: 32px 0 16px 10px;
                }
                &.msg{
                    padding:32px 0 80px 10px;
                }
            }
        }
            .contacts-input{
                .btn{
                    margin-top: 0;
                    align-self: flex-end;
                    }
        }    
    }
}
// /Contacts section

// Footer section
.footer-main{
    padding:40px 0 127px 0;
    .container{
        .footer-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .footer-title{
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: -0.444444px;
            color: #FFFFFF;
        }
        .footer-social{
            display: flex;
            column-gap: 32px;
        }
        .footer-social{
            a{
                font-size:25px
            }
        }
        .footer-social{
            a:hover{
                i{
                    color:#4EE1A0;
                }
            }
        }
    }
}
// /Footer section

// Media section

@media only screen and (max-width: 1090px){
    .container{
        width:96%;
    }
    .contacts{
        .contacts-main{
            justify-content: space-evenly;
        }
    }
}
@media only screen and (max-width: 900px){
    .main-content{
        .main-content__right{
            display: block;
            z-index: -1;
            transform: translate(-20%, -28.5%);
            img{
                display: block;
                width: 322px;
                height: 600px;
            }
        }
    } 
    .projects-cards{
        margin: 0 10%; 
    } 
    .contacts{
        background-position:-20% 70%;
        .contacts-main{
            flex-wrap: wrap;
            .contacts-info{
                height:260px;
                padding:60px 0 50px 0;
            }
        }
    }
} 
@media only screen and (max-width: 767px){
    .header-main{
        .container{
            .header-content{
            display: block;
            text-align: center;
            }
        }
    }
    .header-main{
        .container{
            .header-title{
                padding-bottom: 20px;
            }
            .header-social{
                display:block;
                text-align: center;
                a{
                    display: inline-block;
                    padding-right: 32px;
                } 
            }
        }
    }
    .main{
        .main-content{
            flex-wrap: wrap;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: flex-start;
            background-position:top left , 110% center;
            margin: 0;
            padding: 0;
            text-align: center;
            .main-content__right{
                background-position:top center;
            }
        }
    }
    .main{
        .main-content{
            .main-content__left{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
                p{
                    padding-bottom: 0;
                }
            }
        }
    }
    .main{
        .experiences{
            .experiences-content{
                justify-content: center;
                margin: 0 auto;
            } 
        }
    }
    .footer-main{
        .container{
            .footer-content{
                display: block;
                text-align: center;
                .footer-title{
                    display: inline-block;
                    padding-bottom: 20px;
                }
                .footer-social{
                    display:block;
                    text-align: center;
                    a{
                        display: inline-block;
                        padding-right: 32px;
                    } 
                }
            }
        }
    }
}
// /THE END